.return {
    width: 100vw;
    border: 1px solid #9f2089;
    background-color: #fbddf6;
    display: flex;
    flex-direction: column;
    height: 65px;
}

.line {
    border: 1px solid #ffbcf3;
    border-radius: 5px;
    list-style: none;
    
    margin: 10px auto;
    height: 40px;
    width:95vw

}
.content{
    display: flex;
    flex-direction: row;
    
    column-gap: 65px;
    font-size: 14px;
    background-color: #fbf3f9;
    align-items: center;


}
.content li{
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    align-items: center;
    margin: 8px;
}